.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: 20px auto;
  width: 250px;
  height: 250px;
}

.grid-cell {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
